/*
Project Name: Cabine de Cinema
Author: Hacklab
Version: 1.0
*/

/* =Colors
-------------------------------------------------------------- */
/*
laranja - #f7931e
cinza claro - #b4b4b4
cinza escuro - #333
cinza médio - #666
 */



/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}


/* =Fonts
-------------------------------------------------------------- */

body { font: 14px/20px "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; }
h1,h2,h3,h4,h5,h6 { margin-bottom: 20px; color: #333; }
h1 { font-size: 24px; line-height: 30px; }
h2 { font-size: 18px; line-height: 30px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; }

/* =Global Elements
-------------------------------------------------------------- */

body { background: #ddd url(/static/img/bg.png); }
body { color: #666; text-shadow: 0 1px 0 rgba(250, 250, 250, 0.75); }


/* =HTML5
--------------------------------------------------------------  */
section, article, header, footer, nav, aside, hgroup { display: block; }

/* =Layout
-------------------------------------------------------------- */

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear { clear: both; }
.first { margin-left: 0; }
.last { margin-right: 0; }

/* Text elements */
p {	margin-bottom: 20px; }
strong { font-weight: bold; }
cite, em, i { font-style: italic; }
blockquote { font-style: italic; padding: 0 3em; color: #999; }
blockquote cite, blockquote em, blockquote i { font-style: normal; }

/* =General classes
-------------------------------------------------------------- */
.bottom { margin-bottom: 0 !important; padding-bottom: 0; }
.aligncenter { display: block; margin-right: auto; margin-left: auto; clear: both; }
.alignleft { float: left; }
.alignright { float: right; }
.textcenter { text-align: center; }
.textleft { text-align: left; }
.textright { text-align: right; }

/* =Estrutura
-------------------------------------------------------------- */
.wrap { position: relative; width: 1920px; height: 1080px; overflow: hidden; }
#playlist, #main-section, #menu-de-cenas { float: left; box-shadow: 0 0 100px rgba(0,0,0, .4) inset; overflow: hidden; }
#playlist { width: 300px; height: 1000px; padding: 40px; }
#main-section { width: 1080px; height: 1040px; padding: 40px 40px 0; }
#menu-de-cenas { width: 340px; height: 1080px; padding: 0 20px; }

/* =Playlist
-------------------------------------------------------------- */
#playlist h1 { height: 140px; text-indent: -99999px; background: url(/static/img/logo.png) no-repeat center; }
#tocando, #intervalo, .ocupado, .vazio { position: relative; width: 246px; height: 185px; margin-top: 47px; padding: 27px; text-align: center; color: #fff; }
#tocando, .ocupado { background: url(/static/img/moldura-laranja.png) no-repeat; }
#intervalo, .vazio, #tocando.vazio { background: url(/static/img/moldura-cinza.png) no-repeat; }
#tocando h2, #intervalo h2, .ocupado h2, .vazio h2 { position: absolute; bottom: 0; line-height: 27px; width: 246px; margin-bottom: 0; text-transform: uppercase; }
/*intervalo*/
#intervalo { display: none; }
#intervalo-content { width: 246px; height: 175px; padding-top: 10px; background: #999999; box-shadow: 0 0 100px rgba(0,0,0, .6) inset; }
#contador_pause, #contador_play, #contador_skip { position: absolute; bottom: 33px; display: block; width: 61px; height: 61px; text-indent: -9999px; }
#contador_pause, #contador_play { left: 69px; }
#contador_skip { left: 170px; }
#contador_pause { background: url(/static/img/pause.png) no-repeat; }
#contador_play { display: none; background: url(/static/img/play.png) no-repeat; }
#contador_skip { background: url(/static/img/skip.png) no-repeat; }
/*contador*/
#countdown { width: 100px; height: 100px; position: relative; background-color: #ccc; margin: 0 auto; }
#countdown svg { position: absolute; width: 100px; height: 100px; top: 0; left: 0; z-index: 9;}
#contador { position: absolute; width: 99px; height: 99px; line-height: 100px; color: white; font-size: 40px; font-weight: bold; z-index: 10; text-align: center; border: 1px solid white}

/*remover*/
.remover { display: none; position: absolute; top: 27px; width: 246px; height: 165px; padding-top: 20px; background: rgba(0,0,0, .6); text-shadow: none; }
.sim, .nao { display: block; float: left; width: 61px; padding-top: 70px; color: #fff; text-decoration: none; }
.sim { margin: 0 21px 0 41px; background: url(/static/img/sim.png) no-repeat; }
.nao { margin: 0 41px 0 21px; background: url(/static/img/nao.png) no-repeat; }
/*vazio*/
.vazio p { margin-top: 80px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75); }

/* =Main Section
-------------------------------------------------------------- */
/*header*/
#main-section header { height: 199px; border-bottom: 1px solid #b4b4b4; background: url(/static/img/sombra-up.png) no-repeat center bottom; text-align: center; }
#filtros-nav { height: 160px; width: 1080px; margin: 0 -1px 0 -2px; border-left: 2px solid #b4b4b4; border-right: 1px solid #fff; }
#filtros-nav li { float: left; height: 160px; width: 213px; border-right: 2px solid #b4b4b4; border-left: 1px solid #fff; }
#filtros-nav a { display: block; width: 81px; height: 81px; margin: 20px auto; }
#filmes-button { background: url(/static/img/filmes.png) no-repeat; }
#filmes-button.ativo { background: url(/static/img/filmes-on.png) no-repeat; }
#diretores-button { background: url(/static/img/diretores.png) no-repeat; }
#diretores-button.ativo { background: url(/static/img/diretores-on.png) no-repeat; }
#atores-button { background: url(/static/img/atores.png) no-repeat; }
#atores-button.ativo { background: url(/static/img/atores-on.png) no-repeat; }
#paises-button { background: url(/static/img/paises.png) no-repeat; }
#paises-button.ativo { background: url(/static/img/paises-on.png) no-repeat; }
#generos-button { background: url(/static/img/generos.png) no-repeat; }
#generos-button.ativo { background: url(/static/img/generos-on.png) no-repeat; }
#main-section header p { margin-bottom: 0; line-height: 39px; }
/*fichas*/
#fichas { position: relative; height: 778px; overflow: hidden; border-top: 1px solid #fff; border-bottom: 1px solid #b4b4b4; }
#janela-top, #janela-bottom  { position: absolute; left: 0; z-index: 10; height: 100px; width: 1080px; }
#janela-top { top: 0; background: url(/static/img/janela-top.png) no-repeat top; }
#janela-bottom { bottom: 0; background: url(/static/img/janela-bottom.png) no-repeat bottom; }
#fichas-content { position: absolute; z-index: 5; top: -541px; }
.ficha { width: 1080px; height: 580px; padding: 20px 0; overflow: hidden; color: #333; }
.ficha p { margin-bottom: 10px; }
.ficha img, .ficha .info { float: left; }
.ficha .info { width: 270px; margin-left: 40px; padding-bottom: 60px; }
.label { font-size: 11px; text-transform: uppercase; color: #666; }
.adicionar { display: block; width: 269px; background: #f7931e; color: #000; text-align: center; line-height: 40px; text-transform: uppercase; border-radius: 4px; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.80) inset, 1px 1px 0 rgba(0, 0, 0, 0.4); }
.adicionar-inativo { background: #B4B4B4; color: #FFF; }
/*footer*/
#main-section footer { height: 60px; border-top: 1px solid #fff; background: url(/static/img/sombra-down.png) no-repeat center top; }
#main-section footer li { float: right; margin-left: 5px; margin-top: -1px; padding: 0 10px; color: #333; font-size: 12px; text-align: center; background: #b4b4b4; border-radius: 0 0 4px 4px; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.80) inset, 1px 1px 0 rgba(0, 0, 0, 0.4); cursor: pointer; }

/* =Scroller
-------------------------------------------------------------- */
.scroll-bar { float: left; width: 14px; padding: 1px 0; border-radius: 7px; }
.scroll-handler { position: relative; width: 12px; margin: 0 auto; background: #f7931e; border-radius: 6px; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.80) inset, 1px 1px 0 rgba(0, 0, 0, 0.4); }

/* =Menu de cenas
-------------------------------------------------------------- */
#menu-de-cenas { position: relative; text-align: center; }
#cenas { position: relative; width: 300px; height: 1080px; overflow: hidden; margin-right: 20px; float: left; }
#cenas-content { position: absolute; z-index: 5; top: 0; width: 300px; padding: 12px 0; background: url(/static/img/pelicula.png) repeat-y; }
#cenas-content img { display: block; margin: 0 auto 12px; }
/*scroll*/
#menu-de-cenas .scroll-bar { height: 1062px; margin: 8px 3px; background: #333; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.80), 0 0 5px rgba(0, 0, 0, 0.7) inset; }
#menu-de-cenas .scroll-handler { height: 100px; }
.scroll-up, .scroll-down { position: absolute; z-index: 10; left: 66px; display: block; height: 34px; width: 208px; margin: auto; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.80) inset, 1px 1px 0 rgba(0, 0, 0, 0.4); text-indent: -9999px; }
.scroll-up { top: 0px; background: #f7931e url(/static/img/up.png) no-repeat center; border-radius: 4px 4px 0 0; }
.scroll-down { bottom: 0px; background: #f7931e url(/static/img/down.png) no-repeat center; border-radius: 0 0 4px 4px; }
#selecao { z-index: 10; position: absolute; top: 511px; left: 26px; width: 234px; height: 167px; background: url(/static/img/seletor.png) no-repeat; }

/* =Popup
-------------------------------------------------------------- */
.popup { display: none; position: absolute; z-index: 999; top: 200px; left: 410px; width: 1080px; height: 840px; background: rgba(0,0,0, .3); padding: 10px; border-radius: 16px; }
.popup .wrap { width: 1027px; height: 793px; padding: 7px 13px 40px 40px; overflow: hidden; background: url(/static/img/bg-branco.png); border-radius: 6px; }
.fechar { width: 26px; height: 26px; margin: 0 0 7px 1004px; background: url(/static/img/fechar.png) no-repeat; }
.accordion { float: left; width: 1000px; }
.accordion h3 { margin-bottom: 2px; padding: 0 10px; background: url(/static/img/bg-filtros.png); border-radius: 4px; line-height: 40px; }
.accordion h3 a { display: block; float: left; width: 950px; color: #fff; text-shadow: none; text-decoration: none; }
.accordion h3 div { float: left; width: 20px; height: 20px; margin: 10px 0 10px 10px; }
.accordion h3 div.exibir { background: url(/static/img/expandir.png) no-repeat; }
.accordion h3 div.ocultar { background: url(/static/img/recolher.png) no-repeat; }
.accordion ul { margin: 20px; }
/*scroll*/
.popup .scroll-bar { height: 758px; margin: 0 0 0 12px; background: #ccc; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.80), 0 0 5px rgba(0, 0, 0, 0.3) inset; }
.popup .scroll-handler { height: 100px; }
div.accordion > div { display:none; }

