<html>
    <head>
    	<style></style>
        <script src='/static/js/jquery-1.7.1.min.js'></script>
        <script src='/static/js/jquery-ui.min.js'></script>
        <script></script>
    </head>
    <body>
			<div id="clip-list" class="clip-list">
				<ul id="clip-list">
   		    	{% for clip in clips %}
   		    	<li id="clip-{{clip.id}}" >
        			<h4>{{clip.name}}</h4>
        			<div class="asdf">
        				<img width="150" src="{{clip.cover.url}}">
        				<a href='#' id='clip-{{clip.id}}' class="info">play</a>
        			</div> 
	        	</li>
    	    	{% endfor %}
    	    	</ul>
    	    </div>
    
    	    
   		  	<div id="status">
        		<h1>Tocando....</h1>
    	    </div>
   		  	<div id="drop-area">
        		<h1>Arraste aqui !</h1>
    	    </div>
    	   
    </body>
</html>
